<appSettings>
  <add key="TWITTER_CONSUMER_KEY" value="" />
  <add key="TWITTER_CONSUMER_SECRET" value="" />
  <add key="TWITTER_ACCESS_TOKEN" value="" />
  <add key="TWITTER_ACCESS_TOKEN_SECRET" value="" />
</appSettings>