<connectionStrings>
  <add name="TapHubEntities" connectionString="metadata=res://*/Database.Model1.csdl|res://*/Database.Model1.ssdl|res://*/Database.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MY_DB_HOSTNAME;initial catalog=MY_DB_NAME;persist security info=True;user id=MY_DB_USER;password=MY_DB_PASSWORD;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>