<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <extensions>
    <!--<add assembly="NLog.Slack" />-->
  </extensions>

  <targets async="true">
    
    <target name="console" type="Console" layout="${time} ${message}" />
    
    <!--<target type="Slack"
            name="slack"
            layout="${message}"
            webHookUrl=""
            channel="#logs-taphub"
            username="Taphub"
            compact="true"
            icon=":beer:" />-->
    
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="console" />
    <!--<logger name="*" minlevel="Debug" writeTo="slack" />-->
  </rules>
  
</nlog>